<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Test Case</title>

    <link rel="stylesheet" href="static/css/pm.css">
</head>
<body>

<div class="header">

    Edit Test Case

</div>

	<a href="/test-cases" class="back-btn">
		← Back to Test Cases
	</a>

    <div class="table-container">

        <form method="post">

            <label>Title</label>

            <input
                type="text"
                name="title"
                value="{{ row[1] }}"
                required>

            <br><br>

            <label>Module</label>

            <select name="module">

                <option value="PM" {% if row[2] == "PM" %}selected{% endif %}>PM</option>
                <option value="MM" {% if row[2] == "MM" %}selected{% endif %}>MM</option>
                <option value="FI" {% if row[2] == "FI" %}selected{% endif %}>FI</option>
                <option value="CO" {% if row[2] == "CO" %}selected{% endif %}>CO</option>
                <option value="SD" {% if row[2] == "SD" %}selected{% endif %}>SD</option>
                <option value="WM" {% if row[2] == "WM" %}selected{% endif %}>WM</option>
                <option value="QM" {% if row[2] == "QM" %}selected{% endif %}>QM</option>
                <option value="PP" {% if row[2] == "PP" %}selected{% endif %}>PP</option>
                <option value="SCM" {% if row[2] == "SCM" %}selected{% endif %}>SCM</option>
                <option value="LO" {% if row[2] == "LO" %}selected{% endif %}>LO</option>
                <option value="TR" {% if row[2] == "TR" %}selected{% endif %}>TR</option>
                <option value="PLM" {% if row[2] == "PLM" %}selected{% endif %}>PLM</option>
                <option value="PROC" {% if row[2] == "PROC" %}selected{% endif %}>PROC</option>

            </select>

            <br><br>

            <label>Transaction Code</label>

            <input
                type="text"
                name="transaction_code"
                value="{{ row[3] }}">

            <br><br>

            <label>Process Step</label>

            <textarea
                name="process_step"
                rows="5">{{ row[4] }}</textarea>

            <br><br>

            <label>Automation Status</label>

            <select name="automation_status">

                <option value="Manual"
                    {% if row[5] == "Manual" %}selected{% endif %}>
                    Manual
                </option>

                <option value="Automated"
                    {% if row[5] == "Automated" %}selected{% endif %}>
                    Automated
                </option>

            </select>

            <br><br>

            <label>Automation Script</label>

            <input
                type="text"
                name="script_path"
                value="{{ row[6] }}">

            <br><br>

            <button
                type="submit"
                class="back-btn">

                Save Changes

            </button>

        </form>

    </div>

</body>

</html>