<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Flow Details</title>

    <link rel="stylesheet"
          href="/static/css/pm.css">

</head>

<body>

<div class="header">

    <h1>Flow Details</h1>

</div>

<div class="container">

    <a href="/flow-library" class="back-btn">
        ← Back
    </a>

    <br><br>
	
	<a href="/flow-library/{{ flow[0] }}/add-step"
        class="back-btn">
        + Add Step
    </a>
		
	<a href="/flow-library/{{ flow[0] }}/execute"
        class="back-btn">
        Execute
    </a>

    <!-- Flow Details -->

    <div class="card">

        <h2>{{ flow[1] }}</h2>

        <p>
            <strong>Description:</strong>
        </p>

        <pre>{{ flow[2] }}</pre>

        <p>
            <strong>Module:</strong>
            {{ flow[3] }}
        </p>

        <p>
            <strong>Status:</strong>
            {{ flow[4] }}
        </p>

    </div>

    <br>

    <!-- Business Steps -->

    <div class="card">

        <h2>Business Steps</h2>

        {% if not steps %}

            <p>No Steps Defined</p>

        {% else %}

            {% for step in steps %}

            <div class="step-card">

                <h3>Step {{ step[1] }}</h3>

                <p>
                    <strong>Transaction:</strong>
                    {{ step[2] }}
                </p>

                <p>
                    <strong>Description:</strong>
                    {{ step[3] }}
                </p>

                <div class="button-row">

                    <a href="/flow-step/edit/{{ step[0] }}"
                       class="back-btn">
                        ✏️ Edit
                    </a>

                    <a href="/flow-step/delete/{{ step[0] }}"
                       class="back-btn"
                       onclick="return confirm('Delete this step?');">
                        🗑 Delete
                    </a>

                </div>

            </div>

            <br>

            {% endfor %}

        {% endif %}

        <br>

    </div>

</div>

</body>

</html>