<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Script Studio</title>

    <link rel="stylesheet" href="/static/css/pm.css">
</head>

<body>

    <div class="header">

        Script Studio

    </div>

    <div class="page-submenu">
    <a href="/dashboard" class="submenu-link">🏠 Dashboard</a>
    <a href="/test-cases" class="submenu-link">🧪 Test Cases</a>
    <a href="/flow-library" class="submenu-link">🧭 Flow Library</a>
    <a href="/repository" class="submenu-link">🗂 Repository</a>
    <a href="/Coverage" class="submenu-link">📊 Coverage</a>
    <a href="/reports" class="submenu-link">📈 Reports</a>
    <a href="/risk" class="submenu-link">🛡 Risk</a>
    <a href="/script-studio" class="submenu-link">🤖 Script Studio</a>
</div>

    <div class="section">

        <h2>Automation Templates</h2>

        <div class="tiles">

            <a href="/script-studio/login" class="tile-link">
				<div class="tile">
					<div class="tile-title">
						Login
					</div>

					<div class="tile-desc">
						SAP Login Template
					</div>
				</div>
			</a>
			
			<a href="/script-studio/transaction" class="tile-link">
				<div class="tile">
					<div class="tile-title">
						Start Transaction
					</div>

					<div class="tile-desc">
						Launch SAP Transaction
					</div>
				</div>
			</a>

 	
			<a href="/script-studio/logout" class="tile-link">
				<div class="tile">
					<div class="tile-title">
						Logout
					</div>

					<div class="tile-desc">
						Exit SAP Session
					</div>
				</div>
			</a>

        </div>
		

    </div>

    <div class="section">

        <h2>Script Builder</h2>

        <div class="tiles">
			<a href="/script-studio/builder" class="tile-link">
				<div class="tile">

					<div class="tile-title">
						Create Script
					</div>

					<div class="tile-desc">
						Build Automation Script
					</div>

				</div>
			</a>
			
			<a href="/script-studio/recorder" class="tile-link">

				<div class="tile">

					<div class="tile-title">
						SAP Recorder
					</div>

					<div class="tile-desc">
						Capture SAP Actions
					</div>

				</div>

			</a>
			
			<a href="/script-studio/library" class="tile-link">

				<div class="tile">

					<div class="tile-title">
						Script Library
					</div>

					<div class="tile-desc">
						 Manage Generated Scripts
					</div>

				</div>

			</a>

        </div>

    </div>

</body>

</html>