<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Template</title>

    <link rel="stylesheet" href="/static/css/pm.css">
</head>

<body>

	<div class="header">

		Login Template

	</div>

		<a href="/script-studio" class="back-btn">
			← Script Studio
		</a>

	<div class="table-container">

		<h2>Template Information</h2>

		<p><b>Name:</b> SAP Login</p>

		<p><b>Purpose:</b> Connect and login to SAP</p>

		<p><b>Source:</b> sap_client.py + sap_login.py</p>

		<p><b>Inputs:</b></p>

		<ul>
			<li>SAP_USER</li>
			<li>SAP_PASS</li>
			<li>SAP_LANG</li>
		</ul>

		<p><b>Output:</b> Active SAP Session</p>

	</div>

</body>

</html>