<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test Script Library</title>

    <link rel="stylesheet" href="static/css/pm.css">
</head>

<body>

    <div class="header">
        Test Script Library
    </div>

    <div class="page-submenu">
    <a href="/dashboard" class="submenu-link">🏠 Dashboard</a>
    <a href="/test-cases" class="submenu-link">🧪 Test Cases</a>
    <a href="/flow-library" class="submenu-link">🧭 Flow Library</a>
    <a href="/repository" class="submenu-link">🗂 Repository</a>
    <a href="/Coverage" class="submenu-link">📊 Coverage</a>
    <a href="/reports" class="submenu-link">📈 Reports</a>
    <a href="/risk" class="submenu-link">🛡 Risk</a>
    <a href="/script-studio" class="submenu-link">🤖 Script Studio</a>
</div>

    <div class="table-container">

        <h2>Available Automation Scripts</h2>

        <table class="test-table">

            <thead>

                <tr>
                    <th>Script Name</th>
                    <th>Module</th>
                    <th>Transaction</th>
                    <th>Status</th>
                </tr>

            </thead>

            <tbody>

                {% for script in scripts %}

                <tr>

                    <td>{{ script[0] }}</td>
                    <td>{{ script[1] }}</td>
                    <td>{{ script[2] }}</td>
                    <td>{{ script[3] }}</td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</body>

</html>