<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>View Test Case</title>

    <link rel="stylesheet" href="static/css/pm.css">
</head>

<body>

<div class="header">

    Test Case Details

</div>

<a href="/test-cases" class="back-btn">
    ← Back to Test Cases
</a>

<div class="table-container">



    <p><b>Test Case ID:</b> {{ row[1] }}</p>

    <p><b>Module:</b> {{ row[2] }}</p>

    <p><b>Transaction:</b> {{ row[3] }}</p>

    <p><b>Process Step:</b> {{ row[4] }}</p>

    <p><b>Status:</b> {{ row[5] }}</p>
	<p><b>Automation Script:</b> {{ row[6] }}</p>

</div>

</body>

</html>